body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table.city {
    margin: auto;
    border-collapse: collapse;
    border: medium solid black;
}

table.city td{
    width: 3em;
    height: 3em;
    text-align: center;
    /* border: thin solid rgb(56, 50, 50); */
    vertical-align: middle;
}

table.city td.lawn {
    background-color: green;
}

table.city td.water {
    background-color: rgb(0, 153, 255);
}

table.city td.road {
    background-color: grey;
}

table.city td.farm {
    background-color: rgb(190, 100, 67);
}

table.city td.land {
    background-color: burlywood;
}


table.city td.road.familycar::before {
    content: "\1F698";
}

table.city td.road.farmtruck::before {
    content: "\1F69C	";
}

table.city td.road.taxi::before {
    content: "\1F696";
}

table.city td.house::before {
    content: "\1F3E0	" ;
    /* "\1F3E1	"; */
    font-size: 2em;
}

table.city td.farmhouse::before {
    content: "\1F3E1	";
    font-size: 2em;
}

table.city td.lawn.tree1::before{
    content: "\1F333";
    font-size: 2em;
}

table.city td.lawn.tree2::before{
    content: "\1F334	";
    font-size: 2em;
}

table.city td.farm.farmer::before {
    content: "\1F9D1 \200D \1F33E";
    font-size: 1.5em;
}


table.city td.pplstand::before {
    content: "\1F9CD	";
    /* content: "\1F9D1 \200D \1F33E"; */
    font-size: 1.5em;
}

table.city td.fuel::before{
    content: "\26FD"	;
    font-size: larger;
}

table.city td.school::before{
    content: "\1F3EB	";
    font-size: 2em;
}

footer p{
    /* margin-top: 0; */
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-style: italic;
}